*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

body.preload *{
    animation-duration: 0s !important;
}

img.menu-hamburguer{
    z-index: 99;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.rotate{
    transition: .7s ease-out;
    transform: rotate(360deg);
}

.contrastIn{
    animation: contrastIn .1s forwards;
}

.contrastOut{
    animation: contrastOut .1s forwards;
}

.fadeIn{
    animation: fadeIn .5s forwards;
}

.fadeOut{
    animation: fadeOut .5s forwards;
}

/*************************************/


/*GRID*/
.grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: auto;
    grid-gap: 0px;
    background-color: gray;
    width: calc(100% - 100px);
    right: -100px;
    height: 100%;
}

.grid-container header{
    grid-column: 1 / span 3;
}

.grid-container nav{
    grid-column: 1;
    grid-row: 1 / span 2;
}

.grid-container main{

    grid-column: 1 / span 3;
}

.grid-container footer{
    background-color: lightgray;
    padding: 20px;
    grid-column: 1 /span 3;
}
/*GRID*/


/*HEADER*/
header{
    background-color: lightgray;   
    padding: 35px 20px; 
    width: 100%;
    height: auto;
    border-bottom: 2px solid gray;
}

header .header-wrapper{
    text-align: center;
}

header .logo{
    display: inline-block;
    background-color: gray;
    width: 256px;
    height: 64px;
}

header .logo-wrapper{
    display: inline-block;
    width: 50%;
}

header ul{
    display: inline-block;
    list-style-type: none;
}

header ul li{
    display: inline-block;
    background-color: gray;
    width: 64px;
    height: 64px;
    border-radius: 2px;
    margin-right: 20px;
}

header ul li:last-child{
    margin-right: 0;
}
/*HEADER*/


/*NAV*/
nav{
    z-index: 98;
    left: -200px;
    position: fixed;
    background-color: lightgray;
    padding: 30px;
    border-right: 2px solid gray;
    width: 300px;
    height: 100%;
    transition: .4s ease-out;
    box-shadow: 0 0 20px;
}

nav ul{
    margin: 80px 0;
    list-style: none;
}

nav ul li{
    margin-bottom: 30px;
    background-color: gray;
    width: 100%;
    height: 25px;
}
/*NAV*/


/*MAIN*/
main{
    background-color: lightgray;
    padding: 20px 10px;
}

main .box{
    display: inline-block;
    background-color: gray;
    width: 23%;
    height: 170px;
    margin: 5px;
    border-radius: 2px;
}

main #wrapper-boxes{
    width: 100%;
    text-align: center;
}

main h2{
    display: inline-block;
    margin: 0 0 17px 31px;
    font-size: 30px;
}
/*MAIN*/


/*FOOTER*/
footer{
    border-top: 2px solid gray;
    text-align: center;
}

/*FOOTER*/

/*ANIMATIONS*/
@keyframes contrastIn{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
    }
}

@keyframes contrastOut{
    0%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

/*ANIMATIONS*/

/*RESPONSIVE*/
@media screen and (max-width: 780px){
    main .box{
        width: 30%;
    }

    header{
        padding: 10px;
    }

    header .logo-wrapper{
        width: 100%;
        margin-bottom: 10px;
    }

    main{
        text-align: center;
    }
}

@media screen and (max-width: 680px){
    main .box{
        width: 45%;
        margin: 10px;
    }
}

@media screen and (max-width: 540px){
    main .box{
        width: 40%;
    }
}

@media screen and (max-width: 450px){
    main .box{ 
        width: 80%;
    }
}
/*RESPONSIVE*/